<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>

<h1 th:text="${movieCategory.movie}"></h1><br>
<div>

    <form method="post">
        <div class="form-check">
            <input type="hidden" th:field="${movieCategory.movie}"/>
            <th:block th:each="category : ${categories}">
            <input type="checkbox" style="margin-right: 5px"
               th:field="${movieCategory.category}"
               th:value="${category.id}" th:text="${category.name}"/>
            </th:block>
        </div><br>
    <input type="submit" class="btn btn-success" value="Add Categories"/>
    </form>
</div>
</body>
</html>